body {
    padding: 20px;
    border-style: solid;
    border-color: lightgray;
    border-width: 20px;


}
.post{
padding: 20px;
}
.date{
    color: blue;
}
h2{
 padding-left: 20px;
    color: navy;
}
p{

}